body{
  padding: 10px;

}
.component-box{

clip-path: polygon(0 0, 100 0, 100 75, 0 100);
background-image: linear-gradient(#0000ffa4 , rgba(255, 255, 255, 0.555)), url(./hero.jpg);
background-position: cover;


display: flex;
justify-content: center;
align-items: center;

}